*{
    margin: 0px;
    padding: 0px;
}
.hero {
    background: url('/dist/iStock-1226068536-scaled.jpg') no-repeat center center/cover;
    color: #fff;
    height: 50vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-size: cover;
  
}

.about-image {
    transition: transform 0.3s, box-shadow 0.3s;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Styling for the scrollable card-wrapper */
.card-wrapper {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    /* Enable horizontal scrolling */
    padding: 50px;
    margin-bottom: 70px;
    scrollbar-width: thin;
    /* For Firefox */
    scrollbar-color: #888 transparent;
    /* For Firefox */
}

/* Custom scrollbar styling for WebKit browsers */
.card-wrapper::-webkit-scrollbar {
    height: 8px;
}

.card-wrapper::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

.card-wrapper::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Make sure the cards have a fixed size in every view */
.creative-card {
    min-width: 300px;
    height: 400px;
    flex-shrink: 0;
    /* Prevent shrinking when the container resizes */
}

.about-image:hover {
    transform: scale(1.05);

}


#self_img {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
    pointer-events: none;
}

.verticalLayout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    text-align: center;
    padding: 10px;
    flex: 1;
    height: 100vh;

}

.textDiv,
.imgDiv {
    flex: 1;
    padding: 10px;

}

#revLayout {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 100vw;
    text-align: center;
    padding: 10px;
    flex: 1;
}




@media(max-width: 450px) {
    .verticalLayout {
        flex-direction: column;
        height: 85vh;
    }

    #revLayout {
        flex-direction: column;
    }

    .card-wrapper::-webkit-scrollbar {
        display: none;
        /* Hide scrollbar for WebKit browsers on mobile */
    }

    .card-wrapper {
        -ms-overflow-style: none;
        /* Hide scrollbar for IE and Edge */
        scrollbar-width: none;
        /* Hide scrollbar for Firefox */
    }
}