.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal.show {
    display: flex;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #888;
    width: 40vmax;
    text-align: center;
    color: #121212;
}


.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover {
    color: black;
}

label {
    display: block;
    margin-top: 10px;
    text-align: left;
}

input {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color:white;
    color: #121212;
  
}


button {
    margin-top: 15px;
    padding: 10px;
    color: white;
    background-color: #00842c;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
     
}

button:hover {
    background-color: #269f40; /* Darker color on hover */
}

button:active {
    background-color: #00842c; /* Color when button is clicked */
}

.social-signin-btn {
    margin-top: 15px;
    padding: 10px;
    width: 80%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.my-custom-google-button{
    margin-top: 15px;
    padding: 10px;
    width: 80%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: #db4437;

}


.facebook-btn {
    background-color: #3b5998;

}

.instagram-btn {
    background-color: #C13584;
}

.social-signin-btn:hover {
    opacity: 0.9;
}

.invalid {
    border-color: red;
}

/* Box-shadow fix to override autofill default background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #fff inset !important; /* Light mode */
    box-shadow: 0 0 0 1000px #fff inset !important; /* Light mode */
    -webkit-text-fill-color: #121212;
   
}
