.sidebar {
    width: 250px;
    background-color: #343a40;
    position: fixed;
    top: 0;
    left: -250px; /* Hide by default */
    height: 100vh;
    transition: left 0.3s ease; /* Smooth transition */
    z-index: 100;
  }
  
  .sidebar.open {
    left: 0; /* Move sidebar into view when open */
  }
  
  .sidebar-nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar-nav ul li a {
    padding: 10px 20px;
    display: block;
    color: white;
    text-decoration: none;
  }
  
  .sidebar-nav ul li a:hover {
    background-color: #495057;
  }
  
  .toggle-button {
    position: absolute;
    left: 250px; /* Position next to the sidebar */
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
    transition: background-color 0.3s ease;
  }
  
  .toggle-button:hover {
    background-color: #0056b3;
  }
  
  .rounded-circle {
    width: 30px;
    height: 30px;
    border-radius: 100%;  
  }

  #uni_pro{
   margin-left: 5px;
   position: relative;
   bottom: 5px;
  }
    
  .navbar-brand {
    font-size: 20px; /* Brand name size */
    font-weight: bold; /* Brand name bold */
    color: #e1e1e1; /* Brand name color */
    text-align: center; /* Center brand name */
    display: flex; /* Use flexbox */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    padding: 10px 0; /* Padding for brand */
}

.sidebar-nav ion-icon {
  font-size: 24px; /* Adjust the size as needed */
  margin-right: 8px; /* Space between icon and text */
}


