.signup-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 0 20px;
  background-color: #19171e;
  color: aliceblue;
  overflow: hidden;
}


.left-section {
  flex: 1;
  text-align: center;
  padding: 20px;
}

.left-section img {
  width: 80%;
  height: auto;
}

.right-section {
  flex: 1;
  max-width: 500px;
  padding: 20px;
}

.signin-text-top {
  text-align: right;
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
  color: aliceblue;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.input-row {
  display: flex;
  justify-content: space-between;
}

.half-width {
  width: 48%;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  color:azure
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Fixing alignment for the checkbox and text */
.checkbox-group {
  margin-bottom: 10px;
  display: flex;


 
}

.checkbox-group input {
  transform: scale(1); /* Optional: Makes the checkbox a bit larger */
  flex:1;
  width: 30px;
}


.terms-label {
  margin: 0;
  font-size: 14px;
  line-height: 1.2; /* Reduced line height to make it tighter */
  text-align: left; /* Ensures left alignment for the terms text */
  padding: 5px;
  color: aliceblue;
  
}

.create-account-btn {
  background-color: #ea4c89;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  width: 50%;
}

.create-account-btn:disabled {
  background-color: #bbbbbb;
  cursor: not-allowed;
}

.create-account-btn:hover:not(:disabled) {
  background-color: #d93f76;
}

.site-protection {
  font-size: 12px;
  margin-top: 10px;
}

.site-protection a {
  text-decoration: none;
  color: #ea4c89;
}

.site-protection a:hover {
  text-decoration: underline;
}

/* Responsive design */
@media (max-width: 558px) {
  .signup-page {
    flex-direction: column;
    padding: 0;
    height: auto;
  }

}

